label {
    /* To make sure that all labels have the same size and are properly aligned */
    display: inline-block;
    width: 90px;
    text-align: right;

}

input{
    margin-bottom: 10px;
}
textarea {
    /* To properly align multiline text fields with their labels */
    vertical-align: top;

}