body {
    font-family: "Arial", "sans-serif";
}

nav {
    background-color: black;
    padding:10px;
}

nav a {
    color:white;
    font-weight:bold;
    text-decoration:none;
    padding-right:5px;
    border-right:2px solid white;
}

div {
    width: 1200px;
    margin: auto;
}

main a img {

}
table {
    border-collapse: collapse;
}

table a {
    text-decoration: none;
}

.img-src {
    display: inline-block;
    margin: 0px 5px 0px;
    width: 18%;
    height: 18%;
}
 .img {
     width: 100%;
     margin: auto;
     padding: 0px 0px 0px 3%;
 }