body {
    font-family: Arial;
}

nav {
    background-color: black;
    padding:10px;
}

nav a {
    color:white;
    font-weight:bold;
    text-decoration:none;
    padding-right:5px;
    border-right:2px solid white;
}

div {
    width:1200px;
    margin: auto;
}

article {
    margin: auto;
}