body {
    font-family: Arial;
}

nav {
    background-color: #ff66ff;
    padding: 10px;
}

nav a {
    color:black;
    font-weight:bold;
    text-decoration:none;
    padding-right:5px;
    border-right:2px solid black;
}

div {
    width:1200px;
    margin: auto;
}